<h1>Editando artículo</h1>

<%= render "form", article: @article %>

<br>

  <!-- BUTTON back to article without edit -->
  <button class="btn btn-outline-light hover-btn" >
    <%= link_to @article, class:"text-decoration-none text-light" do %>
      <i class="bi bi-arrow-left-short">&emsp;Volver sin editar</i>
    <% end %>
  </button>

  <!-- BUTTON back to Articles -->
  <button class="btn btn-outline-light hover-btn" >
    <%= link_to articles_path, class:"text-decoration-none text-light" do %>
      <i class="bi bi-arrow-counterclockwise back-icon">&emsp;Volver a Artículos</i>
    <% end %>
  </button>
</div>