<div class="card mx-auto" style="width: 20rem">
  <div class="card-body">

    <%= render "form", article: @article %>
    
    <%= link_to articles_path, class:"text-light btn btn-outline-light hover-btn ms-4" do %>
      <i class="bi bi-arrow-counterclockwise">&emsp;Volver a Artículos</i>
    <% end %>
  </div>
</div>
